@font-face {
    font-family: 'BehanceFont1';
    src: url('fonts/behance-6660441177de4.otf') format('opentype');
    font-weight: 1000;
}

@font-face {
    font-family: 'BehanceFont2';
    src: url('fonts/behance-6660441182b98.otf') format('opentype');
    font-weight: 1000;
}

@font-face {
    font-family: 'SVGFont';
    src: url('fonts/-SVG.otf') format('opentype');
    font-weight: 1000;
}

* {
    margin: 0;
    padding: 0;
}

header {
    position: absolute;
    width: 1375px;
    height: 213px;
    left: 273px;
    top: 0px;

    background: #E8E8E8;
    border-radius: 0px 0px 25px 25px;
}

.Logo1 {
    box-sizing: border-box;

    position: absolute;
    width: 149px;
    height: 132px;
    left: 34px;
    top: 42px;

    mix-blend-mode: color-burn;
    border-radius: 25px;
}

.Banner {
    box-sizing: border-box;

    position: absolute;
    width: 932.07px;
    height: 214.61px;
    left: 223px;
    top: 0px;

    background-blend-mode: exclusion;
    mix-blend-mode: color-burn;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 0px 0px 25px 25px;
}

.language-border {
    position: absolute;
    width: 191px;
    height: 50px;
    left: 1166.97px;
    top: 80.1px;

    background: #ECECEC;
    border-radius: 25px;
}

.language-switcher {
    position: absolute;
    width: 191px;
    height: 50px;
    left: 0px;
    top: 0px;

    font-family: 'BehanceFont1';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: #040404;
}

main {
    position: absolute;
    width: 1900px;
    height: 6299px;
    top: 213px;
}

.background1 {
    position: absolute;
    width: 1900px;
    height: 1080px;
    left: 0px;
    top: 0px;
}

.character1 {
    position: absolute;
    width: 332px;
    height: 370px;
    left: 275px;
    top: 170px;
}

.dialogue1 {
    position: absolute;
    width: 936px;
    height: 949px;
    left: 665px;
    top: -66px;
}

.dialogue-text1 {
    position: absolute;
    width: 254px;
    height: 77px;
    left: 1015px;
    top: 317px;

    font-family: 'BehanceFont2';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.character2 {
    position: absolute;
    width: 331px;
    height: 370px;
    left: 1298px;
    top: 841px;
}

.dialogue2 {
    position: absolute;
    width: 949px;
    height: 949px;
    left: 295px;
    top: 592px;
}

.dialogue-text2 {
    position: absolute;
    width: 254px;
    height: 77px;
    left: 642px;
    top: 987px;

    font-family: 'BehanceFont2';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.background2 {
    position: absolute;
    width: 1900px;
    height: 1080px;
    left: 0px;
    top: 1080px;
}

.heroes {
    position: absolute;
    width: 456px;
    height: 664px;
    left: 726px;
    top: 1476px;
}

.heroes-text {
    position: absolute;
    width: 1370px;
    height: 55px;
    left: 275px;
    top: 1342px;

    font-family: 'SVGFont';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 55px;
    text-align: center;

    color: #000000;
}

.heroes-details1 {
    position: absolute;
    width: 443px;
    height: 648px;
    left: 283px;
    top: 1492px;

    background: rgba(217, 217, 217, 0.5);
    border-radius: 25px;
}

.heroes-details-text1 {
    position: absolute;
    width: 444px;
    height: 648px;
    left: 0px;
    top: 0px;

    font-family: 'BehanceFont2';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: #000000;
}

.heroes-details2 {
    position: absolute;
    width: 443px;
    height: 664px;
    left: 1203px;
    top: 1476px;

    background: rgba(217, 217, 217, 0.5);
    border-radius: 25px;
}

.heroes-details-text2 {
    position: absolute;
    width: 442px;
    height: 648px;
    left: 0px;
    top: 0px;

    font-family: 'BehanceFont2';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: #000000;
}

.background3 {
    position: absolute;
    width: 1900px;
    height: 1080px;
    left: 0px;
    top: 2160px;
}

.tyzer {
    position: absolute;
    width: 1158px;
    height: 736px;
    left: 383px;
    top: 2284px;
}


.background4 {
    position: absolute;
    width: 1900px;
    height: 1080px;
    left: 0px;
    top: 3240px;
}

.manga-title {
    position: absolute;
    width: 1077px;
    height: 101px;
    left: 412px;
    top: 3143px;

    font-family: 'SVGFont';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 77px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.manga-image {
    position: absolute;
    width: 440px;
    height: 565px;
    left: 387px;
    top: 3328px;
    
    font-family: 'BehanceFont1';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: #000000;
    background: rgba(217, 217, 217, 0.63);
    border-radius: 65px;
}

.manga-read {
    font-family: 'BehanceFont1';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    position: absolute;
    width: 440px;
    height: 93px;
    left: 387px;
    top: 3920px;

    color: #000000;
    background: rgba(236, 236, 236, 0.56);
}

.manga-name {
    font-family: 'BehanceFont1';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    position: absolute;
    width: 547px;
    height: 94px;
    left: 917px;
    top: 3414px;

    background: rgba(217, 217, 217, 0.5);
    border-radius: 25px 25px 0px 0px;
}

.manga-discription {
    position: absolute;
    width: 547px;
    height: 386px;
    left: 917px;
    top: 3523px;

    background: rgba(217, 217, 217, 0.5);
    border-radius: 0px 0px 25px 25px;
}

.manga-discription-text {
    position: absolute;
    width: 498px;
    height: 289px;
    left: 941px;
    top: 3565px;

    font-family: 'BehanceFont2';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;

    color: #000000;
}

.background5 {
    position: absolute;
    width: 1900px;
    height: 1080px;
    left: 0px;
    top: 4320px;
    background: #FFFFFF;
}

.game {
    position: absolute;
    width: 520px;
    height: 748px;
    left: 373px;
    top: 4344px;
    background: rgba(217, 217, 217, 0.5);
    border-radius: 25px;
}

.game-image {
    font-family: 'SVGFont';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    width: 451px;
    height: 266px;
    left: 402px;
    top: 4363px;
    color: #000000;
    background: rgba(217, 217, 217, 0.54);
    border-radius: 25px;
}

.game-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.game-modal-content {
    position: absolute;
    width: 1370px;
    height: 800px;
    left: 276px;
    top: 100px;
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 84px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #000000;
    background: #D9D9D9;
    border-radius: 25px;
}

.close {
    position: absolute;
    width: 95px;
    height: 95px;
    left: 1265px;
    top: 8px;
    font-family: 'Pixelify Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #000000;
    background: #F3F1F1;
    border-radius: 25px;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}

.game-description {
    font-family: 'BehanceFont1';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    width: 451px;
    height: 372px;
    left: 402px;
    top: 4682px;
    background: rgba(217, 217, 217, 0.5);
    border-radius: 25px;
}

.merch {
    position: absolute;
    width: 520px;
    height: 748px;
    left: 1028px;
    top: 4344px;
    background: rgba(217, 217, 217, 0.5);
    border-radius: 25px;
}

.merch-image {
    font-family: 'SVGFont';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    width: 457px;
    height: 266px;
    left: 1059px;
    top: 4363px;
    color: #000000;
    background: rgba(217, 217, 217, 0.43);
    border-radius: 25px;
}

.merch-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.merch-modal-content {
    position: absolute;
    width: 1370px;
    height: 800px;
    left: 276px;
    top: 100px;
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 84px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #000000;
    background: #D9D9D9;
    border-radius: 25px;
}

.merch-modal-inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.merch-modal-left,
.merch-modal-center,
.merch-modal-right {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.merch-modal-left {
    border-radius: 25px 0 0 25px;
    background-color: #D9D9D9;
    width: 20%;
}

.merch-modal-right {
    border-radius: 0 25px 25px 0;
    background-color: #D9D9D9;
    width: 20%;
}

.merch-modal-center {
    width: 80%;
}

.merch-modal-text1, .merch-modal-text2 {
    display: flex;
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 84px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #000000;
    height: 100%;
}

.merch-modal-text1 {
    background-color: #BFFFBF;
    width: 70%;
}

.merch-modal-text2 {
    width: 30%;
    background-color: #F6F1F1;
}

.arrow {
    font-size: 36px;
    cursor: pointer;
}

.merch-description {
    position: absolute;
    width: 480px;
    height: 568px;
    left: 1056px;
    top: 4554px;
    font-family: 'BehanceFont2';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;
}


.background6 {
    position: absolute;
    width: 1900px;
    height: 1055px;
    left: 0px;
    top: 5400px;

    background: #FFFFFF;
}

.about-us {
    font-family: 'BehanceFont1';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    width: 1175px;
    height: 757px;
    left: 373px;
    top: 5391px;

    background: rgba(217, 217, 217, 0.63);
    border-radius: 25px;
}

footer {
    position: absolute;
    width: 1372px;
    height: 300px;
    left: 274px;
    top: 6512px;

    background: #D9D9D9;
}

.Instagram{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 70px;
    top: 132px;

    mix-blend-mode: color-burn;
    border-radius: 25px;
}

.Telegram{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 136px;
    top: 132px;

    mix-blend-mode: color-burn;
    border-radius: 25px;
}

.Youtube{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 202px;
    top: 132px;

    mix-blend-mode: color-burn;
    border-radius: 25px;
}

.footer-text{
    position: absolute;
    width: 676px;
    height: 110px;
    left: 348px;
    top: 102px;

    font-family: 'SVGFont';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 55px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.Logo2 {
    box-sizing: border-box;

    position: absolute;
    width: 149px;
    height: 132px;
    left: 1120px;
    top: 80px;

    mix-blend-mode: color-burn;
    border-radius: 25px;
}